.deps
.dirstamp
.libs
autom4te.cache
autogen.err
aclocal.m4
bin
build
build.xml
depcomp
clinkgrammar*
compile
configure
config.sub
config.status
config.log
config.guess
INSTALL
install-sh
ltmain.sh
link-grammar.pc
link-grammar.spec
libtool
linkgrammar-*.jar
link-grammar-*.tar.gz
link-grammar-*.tar.gz.asc
link-grammar-*.tar.gz.md5
link-parser/link-parser
lg_*_wrap.cc
.lg_history
Makefile.in
Makefile
missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/._*.m4
.pc
patches
py-compile
test-driver
svn-commit.tmp*
*.la
*.lo
*.o
ylwrap
pp_lexer.c
__init__.py
bindings/js/emsdk/
bindings/js/link-parser/dist
# Visual Studio keeps adding the directory ".vs". If it got added while
# rebasing and it is not git-ignored, it somehow breaks the rebase.
.vs
data/th/old_words
