language: c

before_install:
  - chmod +x js/install_emsdk.sh js/build_packages.sh js/link-parser/build.sh js/publish_packages.sh

install:
  - sudo apt-get update
  - sudo apt-get install -y make m4 gcc g++ autoconf autoconf-archive pkg-config libtool  # link-grammar required dependencies
  - sudo apt-get install -y swig flex ant graphviz  # link-grammar optional dependencies
  - sudo ./js/install_emsdk.sh

script:
  - ./autogen.sh
  - ./configure --disable-python-bindings  # TODO: fix tests that fail with python bindings enabled
  - make
  - make check
  - sudo make install
  - sudo ldconfig
  - make installcheck
  - echo "The needs of the many outweigh the needs of the few." | /usr/local/bin/link-parser
  - sudo ./js/build_packages.sh
  - if [[ $TRAVIS_TAG == link-grammar-* ]]; then sudo ./js/publish_packages.sh; fi;

notifications:
  email: false
