Output-Build.txt
Temp
x64
Win32
Debug
~AutoRecover.*
.vs

# These files is created by post-build.bat as part of the MSVC build,
# to be used by the user for invoking the link-parser/link-generator binaries
with the required environment variables.
link-parser.bat
link-generator.bat

# The *.user project files are for the sole use of the user and should not
# be included in the distribution.
*.user

# The link-grammar directory is created automatically by the MSVC build
# for outputting link-features.h.
link-grammar
