name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install packages
      run: sudo apt-get install autoconf-archive flex
    - name: autoconf
      run: ./autogen.sh
    - name: configure
      run: ./configure --disable-python-bindings
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
    - name: sudo make install
      run: sudo make install
    - name: sudo ldconfig
      run: sudo ldconfig
    - name: make installcheck
      run: make installcheck
    - name: try it out
      run: /usr/local/bin/link-parser --version
