name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install packages
      run: sudo apt-get install autoconf-archive flex
    - name: autoconf	
      run: ./autogen.sh
    - name: set files as executable
      run: chmod +x bindings/js/install_emsdk.sh bindings/js/build_packages.sh bindings/js/link-parser/build.sh
    - name: install emsdk
      run: sudo ./bindings/js/install_emsdk.sh
    - name: build packaes
      run: sudo ./bindings/js/build_packages.sh
